parameters:
    level: max
    treatPhpDocTypesAsCertain: false
    excludePaths:
        - tests/Feature/Controller/FiuselistControllerTest.php
        - tests/Unit/Infrastructure/Traits/ProcessesJsonTest.php
    ignoreErrors:
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::create\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::findOrFail\(\)#'
        - '#Method [a-zA-Z0-9\\_]+::[a-zA-Z0-9\\_]+\(\) return type has no value type specified in iterable type array.#'
        - '#Method [a-zA-Z0-9\\_]+::[a-zA-Z0-9\\_]+\(\) has parameter \$[a-zA-Z0-9\\_]+ with no value type specified in iterable type array.#'
        - '#Method [a-zA-Z0-9\\_]+::[a-zA-Z0-9\\_]+\(\) has parameter \$[a-zA-Z0-9\\_]+ with no typehint specified.#'
        - '#Method [a-zA-Z0-9\\_]+::[a-zA-Z0-9\\_]+\(\) return type has no value type specified in iterable type [a-zA-Z0-9\\_]+.#'
        - '#Call to an undefined static method [a-zA-Z0-9\\_]+::create\(\).#'
        - '#Call to an undefined static method [a-zA-Z0-9\\_]+::where\(\).#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::tokens\(\).#'



